#available {
    padding: 20px;

    position: absolute;
    top: 82px;
    left: 0;
    right: 0;
    bottom: 101px;

    overflow-y: auto;

    ul.icons {
        li {
            display: inline;
            margin: 5px;

            img {
                height: 36px;
                width: 36px;
                border-width: 2px;
                border-style: solid;
                border-color: transparent;
                
                filter: grayscale(100%);
                -webkit-filter: grayscale(100%);
                -moz-filter: grayscale(100%);
                -ms-filter: grayscale(100%); 
                -o-filter: grayscale(100%);

                &.complete, &.highlight, &:hover {
                    filter: none;
                    -webkit-filter: none;
                    -moz-filter: none;
                    -ms-filter: none; 
                    -o-filter: none;
                }
            }
        }
    }
    h2, h3 {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        margin-bottom: 10px;
        a {
            color: inherit;
        }
    }
    .icons, .categories, .exploring {
        margin-left: 40px;
    }
}