#available {
    padding: 20px;

    position: absolute;
    top: 82px;
    left: 0;
    right: 0;
    bottom: 101px;

    overflow-y: auto;

    ul.icons {
        li {
            display: inline;
            margin: 5px;

            img {
                height: 36px;
                width: 36px;
                border-width: 2px;
                border-style: solid;
                border-color: transparent;
                @include filter(grayscale(100%));
                zoom: 1;
                opacity: 0.5;

                &.complete, &.highlight, &:hover {
                    @include filter(none);
                    opacity: 1;
                }
            }
        }
    }
    h2, h3 {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        margin-bottom: 10px;
        a {
            color: inherit;
        }
    }
    .icons, .categories, .exploring {
        margin-left: 40px;
    }

    .filters {
        text-align: center;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        .search {
            display: inline-block;
            width: 250px;
            vertical-align: top;
            input {
                display: inline-block;
                width: auto;
            }
        }
        .checkboxes {
            display: inline-block;
            vertical-align: top;
            input, label {
                display: inline-block;
            }
        }
    }
}