.exploring {
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 20px 20px 5px 20px;
    .top {
        img {
            display: inline-block;
            vertical-align: top;
        }
        .text {
            display: inline-block;
            margin-left: 20px;
            .title {
                font-weight: bold;
            }
            .description {
                font-size: smaller;
            }
        }
    }
    .links {
        .addtoqueue {
            margin-left: 20px;
        }
    }
    .rewards, .criteria {
        font-size: smaller;
    }
    .rewards {
        margin: 5px 0;
    }
    .criteria {
        .long {
            @include columns(4);
        }
        .criterion {
            display: block;
            &.met {
                text-decoration: line-through;
                opacity: 0.7;
            }
        }
    }
}