header {
    text-align: center;
    background-color: $base-background-color;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    padding-top: 20px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 57px;

    div {
        text-align: left;
        display: inline-block;
        margin: 0 20px;
        width: 250px;
        margin-bottom: 20px;
    }
    button {
        width: 100px;
        height: 36px;
        text-align: center;
        margin-top: -2px;
    }
    select {
        width: 250px;
        padding: 5px;
        font-size: 16px;
        line-height: 1;
        border-radius: 0;
        height: 34px;
        outline: none;
        border-width: 2px;
    }
    input {
        border-style: solid;
        border-width: 2px;
    }
}