header {
    text-align: center;
    background-color: $base-background-color;
    border-bottom-width: 5px;
    border-bottom-style: solid;

    .container {
        text-align: left;
        display: inline-block;
    }

    .where {
        display: inline-block;
        padding: 0;
        margin: 0;
        @media(max-width: $tablet-max) {
            display: block;
        }
    }

    .item {
        display: inline-block;
        vertical-align: middle;
        margin: 20px;

        @media (max-width: $phone-max) {
            display: block;
        }

        button {
            width: 100px;
            height: 36px;
            text-align: center;
            margin-top: -2px;
        }
        select {
            width: 200px;
        }
        input {
            width: 200px;
        }
    }
}