@mixin theme($name, $color) {
    body.#{$name} {
        #available {
            border-color: $color;
            ul.icons {
                li {
                    img {
                        &.highlight {
                            border-color: $color;
                        }
                    }
                }
            }
            h2, h3 {
                border-color: $color;
                a {
                    &:hover {
                        color: $color;
                    }
                }
            }
            .exploring {
                border-color: $color;
            }
        }
        header {
            border-bottom-color: $color;
            select {
                border-color: $color;
            }
        }
        #queue {
            border-top-color: $color;
            li {
                .remove:hover {
                    color: $color;
                }
            }
        }
        a {
          color: $color;
          &:hover {
            color: lighten($color, 15);
          }
          &:active, &:focus {
            color: lighten($color, 15);
          }
        }
        %button {
            background-color: $color;
            &:hover {
                background-color: lighten($color, 15);
            }
        }
        textarea,
        #{$all-text-inputs},
        select[multiple=multiple] {
          &:focus {
            border-color: $color;
          }
        }
    }
}
@include theme('death_knight', #C41F3B);
@include theme('druid', #FF7D0A);
@include theme('hunter', #ABD473);
@include theme('mage', #69CCF0 );
@include theme('monk', #00FF96 );
@include theme('paladin', #F58CBA);
@include theme('priest', #000000);
@include theme('rogue', #FFF569 );
@include theme('shaman', #0070DE);
@include theme('warlock', #9482C9);
@include theme('warrior', #C79C6E);

